<h1>Scores</h1>
<table class="table table-striped">
  <tr>
    <th>User</th>
    <th>Score</th>
  </tr>
<% @scores.each do |score| %>
  <tr>
    <td><%= score.user.name %></td>
    <td><%= score.value %>
  </tr>
<% end %>
</table>
<%= link_to "Add New Score", new_score_path %>
