<h1>Users</h1>
<div class="row">
<% @users.each do |u| %>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= u.name %></h5>
        <p class="card-text"><%= u.email %></p>
        <%= link_to "View details", user_path(u), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
</div>
